<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Model.Zodiac_MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App_Theme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activity.Activity_Splash"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Activity_Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Confirmation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Activity.Activity_Today_Horoscope"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Lucky_Number"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Prediction_Description"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Rashi_Info"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_SubhMuhrat"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activtiy_MatchMaking_And_Love_Result"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activtiy_MatchMaking_And_Love"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Kundali_Result"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Kundali"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Mole_Interpretation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Activity_Festival"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>